.rmdb-actorthumb {
  width: 500px;
}
.rmdb-actorthumb img {
  height: auto;
  margin: 100px 10px 10px 80px;
  transition: all 0.3s;
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}
