.rmdb-actor {
  box-sizing: border-box;
}

.rmdb-actor img {
  width: 40%;
  height: auto;
  float: left;
  box-sizing: border-box;
}

.rmdb-actor-name {
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  color: #fff;
  float: left;
  margin: 10px 20px;
  width: 40%;
  box-sizing: border-box;
}

.rmdb-actor-character {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  color: #fff;
  float: left;
  margin: 0 20px 10px 20px;
  width: 40%;
  box-sizing: border-box;
}

@media screen and (max-width: 720px) {
  .rmdb-actor .rmdb-navigation p {
    font-size: 16px;
  }
  .rmdb-actor {
    display: flex;
    flex-direction: column;
  }
  .rmdb-actor img {
    height: 100%;
    width: 100%;
  }
  .rmdb-actor-name {
    font-size: 14px;
    margin: 10px;
    width: 100%;
  }

  .rmdb-actor-character {
    font-size: 14px;
    margin: 0 10px 10px 10px;
    width: 100%;
  }
}
