.rmdb-actorinfo {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
  animation: animateActorInfo 1s;
}

@keyframes animateActorInfo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rmdb-actorinfo-content {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0.7);
}

.rmdb-actorinfo-thumb {
  width: 350px;
  height: 100%;
}

.rmdb-actorinfo-text {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  min-height: 450px;
  width: auto;
  padding: 20px;
  margin-left: 60px;
  color: #fff;
  box-sizing: border-box;
}

.rmdb-actorinfo-text h1 {
  font-family: 'Abel', sans-serif;
  font-size: 48px;
  margin: 0;
}

.rmdb-actorinfo-text h3 {
  font-size: 16px;
  line-height: 0;
  margin-top: 30px;
}

.rmdb-actorinfo-text p {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 26px;
  word-spacing: 4px;
  height: 100%;
}

.rmdb-rating {
  width: 250px;
  height: 20px;
  margin-top: 20px;
  position: relative;
}

.rmdb-rating p {
  font-size: 18px;
  letter-spacing: 2px;
}

.rmdb-score {
  position: absolute;
  margin: 0;
  right: 0px;
  top: -3px;
}

.fa-star {
  font-size: 30px;
  padding-left: 10px;
  color: darkgoldenrod;
}
meter::-webkit-meter-bar {
  background: #fff;
  width: 200px;
}
meter::-webkit-meter-optimum-value {
  background: linear-gradient(to bottom, #16d47b);
}
meter::-webkit-meter-suboptimum-value {
  background: linear-gradient(to bottom, #fbb450);
}
meter::-webkit-meter-even-less-good-value {
  background: linear-gradient(to bottom, #ee5f5b);
}

@media screen and (max-width: 720px) {
  .rmdb-actorinfo-text h1 {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    margin: 0;
  }
  .fa-star {
    font-size: 20px;
  }
  .rmdb-actorinfo {
    height: 100%;
  }
  .rmdb-actorinfo-thumb {
    display: none;
  }
  .rmdb-actorinfo-text {
    position: unset;
    margin-left: 0;
    padding: 20px;
  }
  .fa-film {
    font-size: 50px;
    right: 30px;
  }
}

@media screen and (min-width: 721px) {
  .fa-film {
    font-size: 40px;
    right: 30px;
  }
}
