.rmdb-moviethumb-solo img {
  width: 200px;
  margin: 50px 10px 10px 50px;
  transition: all 0.3s;
  box-sizing: border-box;
}

.rmdb-moviethumb-movie img {
  width: 200px;
  transition: all 0.3s;
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}
